/* css reset */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}








/* style */
/* body {
    font: 16px/32px arial, sans-serif;
    background-color: #A8DADC;
} */

/* .topbar {
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    border-bottom: 3px solid white;
    z-index: 100;
} */

.container {
    width: vw;
    background-color: #1D3557;
    position: relative;
}

.header {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 5vmax;
    border-bottom: 0.1em solid red;
}

.container .header .title {
    
    font-size: 0.8em;
    padding: 0.3em 0 0 1em;
    font-style: italic;
    color: #fff;
    user-select: none;
}

.navigation ul li {
    font-size: 0.5em;
    display: inline-block;
    padding: 0 0 1em 1.6em;
}

.navigation a {
    text-decoration: none;
    color: #F1FAEE;
}

.navigation a:hover {
    color: #E63946;
}

.container .pics {
    height: 80vh;
    background-image: url(img/pics.jpg);
    background-size: cover;
    background-position: center;
}

.content{
    font-size: 1vmax;
}

.main {
    width: 60vw;
    float: left;
    box-sizing: border-box;
    background-color: #457B9D;
    border-right: 1em solid #E63946;
}

.main h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: #F1FAEE;
    padding: 1em 0 0 1em;
}

.main .author {
    font-size: 1.5em;
    font-style: italic;
    color: #F1FAEE;
    padding: 0 0 1em 2em;
}

.main .author a {
    text-decoration: none;
    color: #F1FAEE;
}

.main .author a:hover {
    color: #E63946;
}

.main p {
    font-size: 2em;
    color: #fff;
    padding: 1em 1em 1em 1.5em;
    text-align: justify;

}

.extend {
    width: 40vw;
    float: right;
    box-sizing: border-box;
    position: absolute;
    right: 0;
}

.extend .profile {
    color: #fff;
    font-size: 3em;
    padding: 1em 0.2em 0.5em 1.5em;
    font-family: 'Times New Roman', Times, serif;
}

.extend img {
    float: left;
    padding: 0.5em 0.6em 0 4.5em;
    width: 8em;
    height: 8em;
    background-size: cover;
    background-position: center;

}

.extend p {
    color: #fff;
    font-size: 1.5em;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    padding: 1em 1em 0.5em 3em;
}


.footer {
    background-color: #A8DADC;
    font-size: 3vmax;
    border-top: 0.2em solid white;
    padding: 0.5em;
}

.footer .copy {
    font-family: fantasy;
    color: #1D3557;
    text-align: center;
}


/* clearing float */
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

/**
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */
.cf {
    *zoom: 1;
}